<div id="page-wrapper">
    <div class="pad">

        <h1>Hello World!</h1>

        <p>This is a starter <b>HTML</b> template for creating custom pages for your plugin.
            This content will be included into the body of the parent template and displayed
            in the content area of the XNAT UI.</p>

        <p>This content can be viewed at ANY of the following URLs</p>
        <ul>
            <li><a href="/page/#/hello-html/">/page/#/hello-html/</a></li>
            <li><a href="/page/?view=hello-html">/page/?view=hello-html</a></li>
            <li><a href="/app/template/Page.vm?view=hello-html">/app/template/Page.vm?view=hello-html</a></li>
        </ul>

    </div>
</div>
